<!DOCTYPE html>
<html>
<head>
	<title>6. 组件基础 - 动态组件 和 解析 DOM 模板时的注意事项：is特性</title>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script><!-- 引入vue -->
</head>
<body>

<!-- 一、动态组件 -->
<!-- 选项卡示例 -->

<!-- 组件会在 `currentTabComponent` 改变时改变 -->
<component v-bind:is="currentTabComponent"></component>

<!-- currentTabComponent 可以包括：
（1）已注册组件的名字
（2）一个组件的选项对象 -->




<!-- 一、解析 DOM 模板时的注意事项 -->
<!-- 有些 HTML 元素，诸如 <ul>、<ol>、<table> 和 <select>，对于哪些元素可以出现在其内部是有严格限制的。
而有些元素，诸如 <li>、<tr> 和 <option>，只能出现在其它某些特定的元素内部。 -->

<!-- 所以如下情况：自定义组件 <blog-post-row> 会被作为无效的内容提升到外部，并导致最终渲染结果出错。 -->
<table>
  <blog-post-row></blog-post-row>
</table>

<!-- 这个时候，我们可以使用`is`特性 进行变通-->
<table>
  <tr is="blog-post-row"></tr>
</table>


<!-- 注意！！如果我们从以下来源使用模板的话，这条限制是不存在的：
（1）字符串 (例如：template: '...')
（2）单文件组件 (.vue)
（3）<script type="text/x-template"> -->


</body>
</html>