<!DOCTYPE html>
<html>
<head>
	<title>表单输入绑定  v-model</title>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>

<!-- 一. 基础用法 -->
<!-- v-model 可以在表单 <input>、<textarea> 及 <select> 元素上创建双向数据绑定 -->
<!-- v-model 本质上是一个语法糖 -->
<input type="text" v-model="message">
<!-- 等价于 -->
<input type="text" v-bind:value="message" v-on:input=" message = $event.target.value ">

<!-- v-model 对于不同表单元素，使用的属性和触发事件不同，具体如下：
- text 和 textarea 元素使用 value 属性和 input 事件；
- checkbox 和 radio 使用 checked 属性和 change 事件；
- select 字段将 value 作为 prop 并将 change 作为事件。 -->

<!-- 注意1：v-model会忽略表单元素在原生HTML中的特性初始值，而始终将Vue实例中的data数据作为数据来源。
			所以声明初始值要在JavaScript的data中进行。 -->
<!-- 注意2：如果遇到不同语言输入法的组合文字不能更新，可以考虑使用 input 事件 替代。 -->

<hr>

<!-- 1. 文本 input type="text" （value属性 & input事件）-->
<div id="demo1">
	<input v-model="message" placeholder="edit me">
	<p>1. Message is: {{ message }}</p>
</div>
<script>
	var demo1 = new Vue({
		el: '#demo1',
		data: {
			message: ''
		}
	})
</script>

<hr>

<!-- 2. 多行文本 textarea （value属性 & input事件）-->
<div id="demo2">
	<span>Multiline message is:</span>
	<p style="white-space: pre-line;">{{ message }}</p>
	<br>
	<textarea v-model="message" placeholder="add multiple lines"></textarea>
	<br>

	<!-- 注意：直接在文本域插值是不能实现双向数据绑定的 -->
	<textarea placeholder="文本域插值，不能实现双向数据绑定">{{ message }}</textarea>
</div>
<script>
	var demo2 = new Vue({
		el: '#demo2',
		data: {
			message: ''
		}
	})
</script>

<hr>

<!-- 3. 复选框 checkbox （checked属性 & change事件） -->
<div id="demo3">
<!-- （1）单个复选框，绑定到布尔值 -->
	<input type="checkbox" id="checkbox" v-model="checked">
	<label for="checkbox">{{ checked }}</label>

	<hr>
<!-- （2）多个复选框，绑定到同一个数组 -->
	<input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
	<label for="jack">Jack</label>
	<input type="checkbox" id="john" value="John" v-model="checkedNames">
	<label for="john">John</label>
	<input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
	<label for="mike">Mike</label>
	<br>
  	<span>Checked names: {{ checkedNames }}</span>
</div>
<script>
	var demo3 = new Vue({
		el: '#demo3',
		data: {
			checked: true,
			checkedNames: [],
			// 注意：如果多个复选框不采用数组方式，会导致绑定相同v-model的复选框一选全选，一未选全部未选的情况
			// checkedNames: ''
		}
	})
</script>

<hr>

<!-- 4. 单选按钮 radio （checked属性 & change事件） -->
<div id="demo4">
  <input type="radio" id="one" value="One" v-model="picked">
  <label for="one">One</label>
  <br>
  <input type="radio" id="two" value="Two" v-model="picked">
  <label for="two">Two</label>

<!-- 注意：以前原始HTML的单选，是通过name属性设置一致来归类一组单选按钮。但在vue.js里，是通过v-model设置一致来归类。 -->
  <br>
  <input type="radio" id="num2" value="Num2" v-model="picked2">
  <label for="num2">Num2</label>
  <br>
  <span>Picked: {{ picked }}</span>

</div>
<script>
	var demo4 = new Vue({
		el: '#demo4',
		data: {
			picked: '',
			picked2: ''
		}
	})
</script>

<hr>

<!-- 5. 选择框 select （value属性 & change事件） -->
<div id="demo5">
<!-- （1）单选时 -->
  <select v-model="selected">
    <option disabled value="">请选择</option>
    <option>A</option>
    <option>B</option>
    <option>C</option>
  </select>
  <br>
  <span>Simple Selected: {{ selected }}</span>
<!-- 注意：如果 v-model 表达式的初始值未能匹配任何选项，<select> 元素将被渲染为“未选中”状态。在 iOS 中，这会使用户无法选择第一个选项。因为这样的情况下，iOS 不会触发 change 事件。因此，推荐像上面这样提供一个值为空的禁用选项。 -->

  <br>

<!-- （2）多选时 -->
  <select v-model="selecteds" multiple style="width: 50px;">
    <option>E</option>
    <option>F</option>
    <option>G</option>
  </select>
  <br>
  <span>Multiple Selected: {{ selecteds }}</span>

<br>
<!-- （3）用 v-for 渲染的动态选项 -->
  <select v-model="selected3" multiple style="width: 50px;">
    <option 
    	v-for="option in options" 
    	v-bind:value="option.value">
    	{{ option.text }}
    </option>
  </select>
  <br>
  <span>Selected: {{ selected3 }}</span>
</div>
<script>
	var demo5 = new Vue({
		el: '#demo5',
		data: {
			selected: '',
			selecteds: [],
			selected3: '',
			options: [
			  { text: 'One', value: 'A'},
			  { text: 'Two', value: 'B'},
			  { text: 'Three', value: 'C'},
			]
		}
	})
</script>


<hr>
<hr>

<!-- 二. 值绑定 -->
<!-- 在上面的例子中，可以看出v-model绑定的值通常是静态字符串（单个复选框还可以是布尔值）。
但有时候，我们希望把值绑定到Vue实例的一个动态属性上，这时可以用v-bind实现，且这个属性值可以不是字符串。 -->

<!-- 1. 复选框 -->
<div id="demo6">
<!-- （1）单选情况 -->
  <input
    type="checkbox"
    v-model="toggle"
    true-value="yes"
    false-value="no"
  >

<!-- 注意1：如果多个 checkoutbox 指定相同的 v-model  true-value false-value，也会出现一选多选，一取消全部取消的情况 -->
<!--   <input
    type="checkbox"
    v-model="toggle"
    true-value="yes"
    false-value="no"
  > -->
<!-- 注意2：如果多个 checkoutbox 指定相同的 v-model、不同的true-value false-value，会出现复选框各自选择修改toggle值 -->
<!--   <input
    type="checkbox"
    v-model="toggle"
    true-value="yes1"
    false-value="no1"
  > -->


<!-- （2）多选情况：直接如#demo1里面分别指定value值即可 -->
	<p>1. Message is: {{ toggle }}</p>
</div>
<script>
	var demo6 = new Vue({
		el: '#demo6',
		data: {
			toggle: ''
		}
	})
</script>
<!-- 注意：这里的 true-value 和 false-value 特性并不会影响输入控件的 value 特性，因为浏览器在提交表单时并不会包含未被选中的复选框。如果要确保表单中这两个值中的一个能够被提交，(比如“yes”或“no”)，请换用单选按钮。（未验证） -->


<hr>
<!-- 2. 单选框 -->
<!-- UNDO 演示失败，不知道啥意思：一开始单选项就变成了选中状态了 -->
<div id="demo7">
  <input
    type="radio"
    v-model="pick"
    v-bind:value="a"
  >
  <input
    type="radio"
    v-model="pick"
    v-bind:value="b"
  >
  <p>1. Message is: a = {{ a }}, b = {{ b }}, pick = {{ pick }}</p>
</div>
<script>
	var demo7 = new Vue({
		el: '#demo7',
		data: {
			pick: '',
			a:'',
			b:''
		}
	})

	// 当选中时
// vm.pick === vm.a
</script>


<hr>
<!-- 3. 选择框的选项 -->
<!-- 演示失败，不知道啥意思 UNDO -->
<div id="demo8">
  <select v-model="selected">
    <!-- 内联对象字面量 -->
    <option v-bind:value="{ number: 123 }">123</option>
  </select>
  <p>1. Message is: selected.number = {{ selected.number }} </p>
</div>
<script>
	var demo8 = new Vue({
		el: '#demo8',
		data: {
			selected:''
		}
	})

	// 当选中时
// typeof vm.selected // => 'object'
// vm.selected.number // => 123

</script>


<hr>
<hr>

<!-- 三. 修饰符 .lazy .number .trim-->
<!-- .lazy：默认情况下，v-model在input的文本类型触发的是input事件，若想转变为change事件，可以添加 .lazy修饰符。 -->
<input v-model.lazy="msg" ><!-- 在“change”时而非“input”时更新 -->

<!-- .number：自动转换为数值类型 。如果这个值无法被 parseFloat() 解析，则会返回原始的值。-->
<input v-model.number="age" type="number">

<!-- .trim: 自动过滤输入的首尾空白字符 -->
<input v-model.trim="msg">



<!-- 四. 注意：除了表单元素可以使用v-model ， 组件也可以使用v-model 。详见自定义组件的 v-model-->

</body>
</html>